header {
  background-image: url('/karaiby4-wide-full.jpg');
  background-position: center;
  background-size: cover;
  padding: 120px 0;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Raleway", Times, serif;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
}

p {
  font-size: larger;
}

#link {
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  font-size: large;
}

.trips-container {
  padding: 4rem;
}

.trip-details-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

#new-trip-btn {

}

.trip-display {
  grid-column-end: span 6;
  padding: 25px;
}