:root {
  --color-1: rgba(140, 65, 79, 1);
  --color-2: rgba(84, 102, 140, 1);
  --color-3: rgba(149, 187, 191, 1);
  --color-4: rgba(242, 198, 159, 1);
  --color-5: rgba(242, 172, 147, 1);
}

header {
  background-image: url('/karaiby4-wide-full.jpg');
  background-position: center;
  background-size: cover;
  padding: 120px 0;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Raleway", Times, serif;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
}

p {
  font-size: larger;
}

#link {
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  font-size: large;
}

nav {
  background-color: var(--color-2);
}

.trips-container {
  padding: 4rem;
}

.trip-details-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;
}

#new-trip-btn {

}

.trip-display {
  grid-column-end: span 6;
}

.trip-display > div {
  border-bottom: 1px solid #ccc;
}

.trip-header {
  text-align: center;
  padding: 2rem;
}

.trip-destination {
  font-size: 1.5rem;
  font-weight: bold;
}

.trip-flight {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 0.5rem;
  padding: 0.7rem;
}

.plane-icon {
  font-size: 1.5rem;
}

.flight-stop {
  text-align: center;
}

.flight-time {
  font-size: 1rem;
  color: #888;
}

.trip-hotel {
  padding: 0.7rem;
}

.hotel-name {
  margin-right: 0.5rem;
}

.trip-hotel .fa-hotel {
  font-size: 1.5rem;
  margin-right: 1rem;
}
